<html lang="en"><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style lang="en" type="text/css" id="dark-mode-custom-style"></style><style lang="en" type="text/css" id="dark-mode-native-style"></style><style lang="en" type="text/css" id="dark-mode-native-sheet"></style><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <title>Home</title>
      <div class="row">
          <div class="col-md-12">
      
              <h2>Add Program</h2>

              <br>
      
              <form method="post" action="/programs/update">
      
                  <fieldset>
                      
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="programCode">Program Code:</label>
                                  <input class="form-control" id="programCode" name="programCode" value="{{ program.programCode }}"  type="text" readonly>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="programName">Program Name:</label>
                                  <input class="form-control" id="programName" name="programName" value="{{ program.programName }}" type="text">
                              </div>
                          </div>
                      </div>
      
                  </fieldset>
      
                        <hr />
                        <input
                            type="submit"
                            class="btn btn-primary pull-right"
                            value="Update Program"
                        /><br /><br /><br />
      
              </form>
          </div>
 